*{
  margin: 0;
  padding: 0;
}
body {
  background-color:#0A0A0DCF ;
  font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}
a{
  text-decoration: none;
}
h2 {
  text-align: center;
  padding: 20px 0px;
}
.social-link{
  padding: 20px;
}
b,h3{
  padding: 0px 20px;
  word-spacing: 1px;
  line-height: 2rem;
}
 h2{
background: black;
color: white;
}
#docs{
  margin-top: 50px;
}
button a{
  color: white;
}
button{
  padding: 7px 8px;
  border: none;
  border-radius: 2px;
  background:red;
  font-weight: 500;
  transition: 0.3s;
}
button:focus-within{
  background: black;
}
